<div class="section league-tables">
  <div class="container">
    <h2 class="title is-size-2">Current Standings</h2>
    <div class="tile is-ancestor">
      <div class="tile is-6 is-parent">
        <div class="tile is-child">
          <h3 class="title is-size-3">Experienced</h3>
          <table class="table is-striped">
            <thead>
            <tr>
              <th class="is-numeric pos">Position</th>
              <th class="is-text uni">University</th>
              <th class="is-numeric points">Points</th>
              <th class="is-numeric hits">Score</th>
              <th class="is-numeric tens">10s</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tile is-6 is-parent">
        <div class="tile is-child">
          <h3 class="title is-size-3">Novice</h3>
          <table class="table is-striped">
            <thead>
            <tr>
              <th class="is-numeric pos">Position</th>
              <th class="is-text uni">University</th>
              <th class="is-numeric points">Points</th>
              <th class="is-numeric hits">Score</th>
              <th class="is-numeric tens">10s</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            <tr>
              <td class="is-numeric pos">1st</td>
              <td class="is-text">Warwick</td>
              <td class="is-numeric">1234</td>
              <td class="is-numeric">240</td>
              <td class="is-numeric tens">240</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>