{% extends "base.html" %}
{% load static base_tags wagtailcore_tags wagtailimages_tags %}
{% get_site_root as site_root %}

{% block ogp_prefix %}prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"{% endblock %}

{% block ogp_metadata %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:site_name" content="{{ site_root.title }}">
  <meta property="og:type" content="article">
  <meta property="og:locale" content="en_GB">
  <meta property="og:determiner" content="the">
  <meta property="og:description" content="{{ page.excerpt|striptags }}">
  <meta property="og:url" content="https://buttsleague.com{% pageurl self %}">
  {% if page.cover_image %}
    {% image page.cover_image fill-1200x630 as cover_image_1024 %}
    <meta property="og:image" content="https://buttsleague.com{{ cover_image_1024.url }}">
    <meta property="og:image:width" content="{{ cover_image_1024.width }}">
    <meta property="og:image:height" content="{{ cover_image_1024.height }}">
    <meta property="og:image:type" content="{{ cover_image_1024|get_image_mime_type }}">
    <meta property="og:image:alt" content="{{ cover_image_1024.alt }}">
    <meta name="twitter:card" content="https://buttsleague.com{{ cover_image_1024.url }}">
  {% else %}
    <meta property="og:image" content="https://buttsleague.com{% static 'favicon-228.png' %}">
  {% endif %}
  <meta property="article:content_tier" content="free">
  <meta property="article:publisher" content="https://www.facebook.com/groups/buttsleague/">
  <meta property="article:section" content="News">
  <meta property="article:published_time" content="{{ page.first_published_at|date:'c' }}">
  <meta property="article:modified_time" content="{{ page.last_published_at|date:'c' }}">
  {% if page.expire_at %}
    <meta property="article:expiration_time" content="{{ page.expire_at|date:'c' }}">
  {% endif %}
{% endblock %}

{% block body_class %}template-newspage{% endblock %}

{% block title %}{{ page.title }} | B.U.T.T.S. League{% endblock %}

{% block content %}
  {% if page.cover_image %}
    {% image page.cover_image fill-1536x700 as cover %}
    <section class="hero is-large cover-image {% if page.cover_invert_title %}inverted{% endif %}"
             style="background-image: url('{{ cover.url }}');">
  {% else %}
    <section class="hero is-large no-cover inverted">
  {% endif %}
<svg version="1.1" class="jumbotron-mask" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
     viewBox="0 0 1280 70" enable-background="new 0 0 1280 70" xml:space="preserve" preserveAspectRatio="none">
        <polygon points="0,0 0,70 1280,0"></polygon>
        </svg>
<div class="hero-body">
  <div class="container">
    <h1 class="title has-text-centered">{{ page.title }}</h1>
    <h2 class="subtitle has-text-centered">Posted {{ page.first_published_at|date:'d/m/Y' }} by {{ page.owner.get_full_name }}</h2>
  </div>
</div>
<svg version="1.1" class="jumbotron-mask" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
     viewBox="0 0 1280 70" enable-background="new 0 0 1280 70" xml:space="preserve" preserveAspectRatio="none">
    <polygon points="1280,70 0,70 1280,0 "></polygon>
  </svg>
</section>
<section class="section league-news-article">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <main>
          {% include 'home/includes/blog_streamfield.html' with content=page.body %}
        </main>
      </div>
    </div>
  </div>
</section>
{% if page.further_reading %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <h3 class="title is-size-3">Further reading</h3>
          <div class="tile is-ancestor">
            {% for article in page.further_reading %}
              <div class="tile is-parent">
                {% include 'home/includes/further_reading.html' with article=article %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% endblock %}
