{% extends "base.html" %}
{% load static base_tags wagtailcore_tags %}

{% block body_class %}template-newsindex{% endblock %}

{% block title %}Latest News (page {{ blogs.number }}) | B.U.T.T.S. League{% endblock %}

{% block ogp_prefix %}prefix="og: http://ogp.me/ns#"{% endblock %}

{% block ogp_metadata %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:determiner" content="the">
  <meta property="og:description" content="B.U.T.T.S. Challenge League News (page {{ blogs.number }})">
  <meta property="og:locale" content="en_GB">
  <meta property="og:url" content="https://buttsleague.com{{ request.get_full_path }}">
  <meta property="og:image" content="https://buttsleague.com{% static 'favicon-228.png' %}">
{% endblock %}

{% block content %}
  <div class="section league-news">
    <div class="container">
      <h2 class="title is-size-2">Latest News</h2>
      {% if request.GET.tag or request.GET.date %}
        <h6 class="subtitle is-size-6">{% filters_to_str request.GET.tag request.GET.date %}</h6>
      {% endif %}
      <div class="columns">
        <div class="column is-9">
          {% for article in blogs.object_list %}
            {% include 'home/includes/article.html' with article=article last_article=forloop.last %}
          {% endfor %}
          {% if paginator.num_pages > 1 %}
            {% with params=request.GET.urlencode %}
              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if blogs.has_previous %}
                  <a href="{% relative_url blogs.previous_page_number 'page' params %}" class="pagination-previous">Previous</a>
                {% else %}
                  <a class="pagination-previous is-disabled">Previous</a>
                {% endif %}

                {% if blogs.has_next %}
                  <a href="{% relative_url blogs.next_page_number 'page' params %}" class="pagination-next">Next
                    page</a>
                {% else %}
                  <a class="pagination-next is-disabled">Next page</a>
                {% endif %}

                <ul class="pagination-list">
                  {% if paginator.num_pages > 5 %}
                    <li><a href="{% relative_url blogs.paginator.page_range|first 'page' params %}"
                           class="pagination-link {% if paginator.page_range|first == blogs.number %}is-current{% endif %}"
                           aria-label="Goto page {{ paginator.page_range|first }}"
                           {% if paginator.page_range|first == blogs.number %}aria-current="page"{% endif %}>{{ paginator.page_range|first }}</a>
                    </li>
                    {# If the current page is in the first 3 #}
                    {% if blogs.number|add:"-3" < 1 %}
                      {% for page in paginator.page_range|first_three %}
                        <li><a href="{% relative_url page 'page' params %}"
                               class="pagination-link {% if blogs.number == page %}is-current{% endif %}"
                               aria-label="Goto page {{ page }}"
                               {% if blogs.number == page %}aria-current="page"{% endif %}>
                          {{ page }}
                        </a></li>
                      {% endfor %}
                      <li><span class="pagination-ellipsis">&hellip;</span></li>
                      {# If the current page is in the last 3 #}
                    {% elif blogs.number|add:"3" > paginator.num_pages %}
                      <li><span class="pagination-ellipsis">&hellip;</span></li>
                      {% for page in paginator.page_range|last_three %}
                        <li><a href="{% relative_url page 'page' params %}"
                               class="pagination-link {% if blogs.number == page %}is-current{% endif %}"
                               aria-label="Goto page {{ page }}"
                               {% if blogs.number == page %}aria-current="page"{% endif %}>
                          {{ page }}
                        </a></li>
                      {% endfor %}
                      {# Otherwise we're in the middle of the range somewhere #}
                    {% else %}
                      <li><span class="pagination-ellipsis">&hellip;</span></li>
                      <li><a href="{% relative_url blogs.previous_page_number 'page' params %}"
                             class="pagination-link"
                             aria-label="Goto page {{ blogs.previous_page_number }}">{{ blogs.previous_page_number }}</a>
                      </li>
                      <li><a class="pagination-link is-current"
                             aria-label="Goto page {{ blogs.number }}">{{ blogs.number }}</a></li>
                      <li><a href="{% relative_url blogs.next_page_number 'page' params %}"
                             class="pagination-link"
                             aria-label="Goto page {{ blogs.next_page_number }}">{{ blogs.next_page_number }}</a></li>
                      <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {% endif %}

                    <li><a href="{% relative_url blogs.paginator.page_range|last 'page' params %}"
                           class="pagination-link {% if paginator.page_range|last == blogs.number %}is-current{% endif %}"
                           aria-label="Goto page {{ paginator.page_range|last }}"
                           {% if paginator.page_range|last == blogs.number %}aria-current="page"{% endif %}>{{ paginator.page_range|last }}</a>
                    </li>
                  {% else %}
                    {% for page in paginator.page_range %}
                      <li><a class="pagination-link {% if blogs.number == page %}is-current{% endif %}"
                             aria-label="Goto page {{ page }}"
                             {% if blogs.number == page %}aria-current="page"{% endif %}>
                        {{ page }}
                      </a></li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </nav>
            {% endwith %}
          {% else %}
            <nav class="level last-level">
              <div class="level-item has-text-centered">
                <i class="fas fa-newspaper fa-3x empty-icon"></i>
                <p class="is-secondary">No more news</p>
              </div>
            </nav>
          {% endif %}
        </div>
        <aside class="column is-3">
          {% sidebar %}
        </aside>
      </div>
    </div>
  </div>
{% endblock %}