{% extends "base.html" %}
{% load static base_tags wagtailcore_tags %}

{% block body_class %}template-generic-page{% endblock %}

{% block title %}{% if page.page_title %}{{ page.page_title }}{% else %}{{ page.title }}{% endif %} | B.U.T.T.S. League{% endblock %}

{% block content %}
  {% if page.depth > 3 %}
    {% breadcrumbs calling_page=page %}
  {% endif %}
  <section class="section">
    <div class="container">
      {% if page.page_title %}
        <h2 class="title is-size-2">{{ page.page_title }}</h2>
      {% else %}
        <h2 class="title is-size-2">{{ page.title }}</h2>
      {% endif %}
      <div class="columns">
        {% if page.get_children or page.related %}
          <div class="column is-9">
        {% else %}
          <div class="column">
        {% endif %}
        <main>
          {% include 'home/includes/blog_streamfield.html' with content=page.body %}
        </main>
        </div>
        {% if page.get_children or page.related %}
          <div class="column is-3">
            <div class="tile is-ancestor">
              <div class="tile is-vertical is-parent">
                {% if page.get_children %}
                  <div class="tile is-child">
                    <h4 class="title is-size-4">More Information</h4>
                    <ul class="resource-sublist">
                      {% for resource in page.get_children %}
                        <li>
                          <a href="{% pageurl resource %}">{{ resource.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                {% if page.related %}
                  <div class="tile is-child">
                    <h4 class="title is-size-4">Useful Links</h4>
                    <ul class="resource-sublist">
                      {% for link in page.related %}
                        <li>
                          <a href="{{ link.link_external }}">{{ link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
        </div>
      </div>
  </section>
{% endblock %}