{% extends "base.html" %}
{% load static base_tags wagtailcore_tags %}

{% block navigation %}{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block title %}The TOUCAN Challenge League{% endblock %}

{% block ogp_prefix %}prefix="og: http://ogp.me/ns#"{% endblock %}

{% block ogp_metadata %}
  <meta property="og:image" content="{% static 'favicon-228.png' %}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:determiner" content="the">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:locale" content="en_GB">
  <meta property="og:url" content="https://toucanleague.co.uk{% pageurl self %}">
{% endblock %}

{% block content %}
  <div class="league-hero">
    {% navigation calling_page=self %}

    <div class="container league-info">
      <div class="league-blurb">
        <h1 class="title is-size-1">TOUCAN League</h1>
        <hr/>
        <p>{{ self.description }}</p>
      </div>
      <div class="league-logo is-hidden-touch">
        {% include 'home/includes/butts_toucan.svg' %}
      </div>
    </div>
  </div>

  {% include 'home/includes/table_homepage.html' %}

  <div class="section league-news">
    <div class="container">
      <h2 class="title is-size-2">Latest News</h2>
      <div class="columns">
        <div class="column is-8">
          {% for article in page.posts %}
            {% include 'home/includes/article.html' with article=article last_article=forloop.last %}
          {% endfor %}
          <div class="level older-news">
            <div class="level-left"></div>
            <div class="level-right">
              <div class="level-item">
                <a href="{% pageurl page.news_index %}" class="button is-white">Older news<i
                    class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
