{% extends "base.html" %}
{% load static base_tags wagtailcore_tags %}

{% block body_class %}template-schedulepage{% endblock %}

{% block title %}League Schedule | TOUCAN League{% endblock %}

{% block ogp_prefix %}prefix="og: http://ogp.me/ns#"{% endblock %}

{% block ogp_metadata %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:site_name" content="{{ site_root.title }}">
  <meta property="og:type" content="website">
  <meta property="og:determiner" content="the">
  <meta property="og:locale" content="en_GB">
  <meta property="og:url" content="https://buttsleague.com{% pageurl self %}">
  <meta property="og:image" content="https://buttsleague.com{% static 'favicon-228.png' %}">
  {% if page.search_description %}
    <meta property="og:description" content="{{ page.search_description }}">
  {% endif %}
{% endblock %}

{% block content %}
  <div class="section league-schedule">
    <div class="container">
      <h2 class="title is-size-2">{{ page.page_title }}</h2>
      <p class="subtitle is-size-6">Last updated at {{ page.last_published_at|time:'P' }} on the {{ page.last_published_at|date:'jS F Y' }}</p>
      <div class="content">
        {{ page.page_description|richtext }}
      </div>
      {% include 'home/includes/schedule_timeline.html' with timeline=page.timeline %}
    </div>
  </div>

{% endblock %}