{% extends "base.html" %}
{% load static base_tags wagtailcore_tags %}

{% block body_class %}template-standings-list{% endblock %}

{% block title %}{{ page.title }} | TOUCAN League{% endblock %}

{% block ogp_prefix %}prefix="og: http://ogp.me/ns#"{% endblock %}

{% block ogp_metadata %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:site_name" content="{{ site_root.title }}">
  <meta property="og:type" content="website">
  <meta property="og:determiner" content="the">
  <meta property="og:locale" content="en_GB">
  <meta property="og:url" content="https://toucanleague.co.uk{% pageurl self %}">
  <meta property="og:image" content="{% static 'favicon-228.png' %}">
  {% if page.search_description %}
    <meta property="og:description" content="{{ page.search_description }}">
  {% elif page.description %}
    <meta property="og:description" content="{{ page.description|striptags }}">
  {% endif %}
{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <h2 class="title is-size-2">{{ page.title }}</h2>
      {% if page.latest_year %}
        <h3 class="title is-size-3">{{ page.latest_year.title }}</h3>
        <p>Full details of these results can be found <a href="{% pageurl page.latest_year %}">here</a>.</p>
        <hr/>
      {% endif %}
      <div class="content">
        {{ page.description|richtext }}
      </div>
      <div class="columns">
        <div class="column is-9">
          <ul class="results-list">
            {% for result in page.archives %}
              <li>
                <a href="{% pageurl result %}">{{ result.title }} ({{ result.num_legs }} leg format)</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="column is-3">
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-parent">
              <div class="tile is-child">
                <h4 class="title is-size-4">Other Resources</h4>
                <ul class="resource-sublist">
                  {% for resource in page.resources %}
                    <li>
                      <a href="{% pageurl resource %}">{{ resource.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}