{% load wagtailcore_tags %}

{% wagtail_site as current_site %}

<footer class="footer">
  <div class="container">
    <div class="sitemap">
      <div class="columns">
        <div class="column is-3 social-media">
          <heading class="title is-4">Social Media</heading>
          <ul class="social-icons">
            {% if facebook_url %}
              <li><a href="{{ facebook_url }}" title="Facebook"><i class="fab fa-facebook-square"></i></a></li>
            {% endif %}
            {% if twitter_url %}
              <li><a href="{{ twitter_url }}" title="Twitter"><i class="fab fa-twitter-square"></i></a></li>
            {% endif %}
          </ul>
        </div>
        <div class="column is-3">
          <heading class="sitemap-entry title"><a href="{% pageurl current_site.root_page %}">Home</a></heading>
          {% if standings %}
            <p class="sitemap-entry title"><a href="{% pageurl standings %}">{{ standings.title }}</a></p>
            <p class="sitemap-entry"><a href="{% pageurl standings_archive %}">{{ standings_archive.title }}</a></p>
          {% endif %}
          {% if schedule %}
            <heading class="sitemap-entry title"><a href="{% pageurl schedule %}">{{ schedule.title }}</a></heading>
          {% endif %}
        </div>
        <div class="column is-3">
          {% if news %}
            <heading class="sitemap-entry title"><a href="{% pageurl news %}">{{ news.title }}</a></heading>
            {% if news_article %}
              <p class="sitemap-entry"><a href="{% pageurl news_article %}">{{ news_article.title }}</a></p>
              <p class="sitemap-entry more-news"><a href="{% pageurl news %}">Older news articles <i class="fas fa-chevron-right"></i></a>
            {% endif %}
          {% endif %}
          </p>
          {% if league %}
            <heading class="sitemap-entry title"><a href="{% pageurl league %}">League</a></heading>
            {% for subpage in league_subpages %}
              <p class="sitemap-entry"><a href="{% pageurl subpage %}">{{ subpage.title }}</a></p>
            {% endfor %}
          {% endif %}
        </div>
        <div class="column is-3">
          {% if records %}
            <heading class="sitemap-entry title"><a href="{% pageurl records %}">{{ records.title }}</a></heading>
            {% for subpage in records_subpages %}
              <p class="sitemap-entry"><a href="{% pageurl subpage %}">{{ subpage.title }}</a></p>
            {% endfor %}
          {% endif %}
          {% if resources %}
            <heading class="sitemap-entry title"><a href="{% pageurl resources %}">{{ resources.title }}</a></heading>
            {% for subpage in resources_subpages %}
              <p class="sitemap-entry"><a href="{% pageurl subpage %}">{{ subpage.title }}</a></p>
            {% endfor %}
          {% endif %}
          <p class="sitemap-entry"><a href="{% url 'wagtailadmin_home' %}">Admin Login</a></p>
        </div>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        <strong>© TOUCAN League {% now 'Y' %}</strong>. Website built by <a
          href="https://github.com/davidjrichardson">David
        Richardson</a> using <a href="https://wagtail.io">Wagtail</a>.
      </p>
    </div>
  </div>
</footer>