{% load wagtailcore_tags %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      {% if not is_home %}
        {% wagtail_site as current_site %}
        <a class="navbar-item" href="{% pageurl current_site.root_page %}">TOUCAN League</a>
      {% endif %}

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
         data-target="navbarItems">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbarItems">
      <div class="navbar-end">
        {% for item in menu_items %}
          <a class="navbar-item {% if item.active %}is-active{% endif %}"  href="{% pageurl item %}">{{ item.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>