// League title font face

// This has to be relative to "app.scss". This file (settings.scss) is expected to be in the
// same directory so that assumption should be ok for now.
$font-root: '../fonts';

@font-face {
  font-family: "Norwester";
  src: url("#{$font-root}/norwester.eot") format("eot"),
  url("#{$font-root}/norwester.woff") format("woff"),
  url("#{$font-root}/norwester.ttf") format("ttf"),
  url("#{$font-root}/norwester.svg") format("svg");
}

@font-face {
  font-family: "Montserrat";
  src: url("#{$font-root}/Montserrat-Regular.eot") format("eot"),
  url("#{$font-root}/Montserrat-Regular.woff") format("woff"),
  url("#{$font-root}/Montserrat-Regular.otf") format("otf"),
  url("#{$font-root}/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("#{$font-root}/Montserrat-Italic.eot") format("eot"),
  url("#{$font-root}/Montserrat-Italic.woff") format("woff"),
  url("#{$font-root}/Montserrat-Italic.otf") format("otf"),
  url("#{$font-root}/Montserrat-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("#{$font-root}/Montserrat-Bold.eot") format("eot"),
  url("#{$font-root}/Montserrat-Bold.woff") format("woff"),
  url("#{$font-root}/Montserrat-Bold.otf") format("otf"),
  url("#{$font-root}/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("#{$font-root}/Montserrat-BoldItalic.eot") format("eot"),
  url("#{$font-root}/Montserrat-BoldItalic.woff") format("woff"),
  url("#{$font-root}/Montserrat-BoldItalic.otf") format("otf"),
  url("#{$font-root}/Montserrat-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}

// Colors
$butts_background: #F5F5F5;
$butts_purple: #5B27FF;
$butts_purple_alt: #7211FF;
$butts_footer: #342F3A;
$butts_text: #1E1921;
$butts_text_secondary: rgba($butts_text, 0.7);
$butts_text_tertiary: rgba($butts_text, 0.54);

$butts_text_secondary_inv: rgba($white, 0.87);
$butts_text_tertiary_inv: rgba($white, 0.54);

$fullhd-enabled: false;

// Title sizes
$size-1: 4.625rem;
$size-2: 3rem;
$size-3: 2.25rem;

$navbar-height: 5rem;
$navbar-item-color: $butts_text;
$navbar-background-color: transparent;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-background-color: transparent;

$picture_highlight_border: 7px;

$family-primary: 'Montserrat', sans-serif;
$family-title: 'Norwester', 'Montserrat', sans-serif;
$background: $butts_background;
$footer-background-color: $butts_footer;
$link: $butts_purple;
$link-hover: lighten($butts_purple, 10%);
$primary: $butts_purple;
$radius: 4px;
$text: $butts_text;
$pagination-color: $butts_text_secondary;
$pagination-hover-color: $butts_text;
$pagination-active-color: $butts_text;
$pagination-current-background-color: rgba($butts_purple, 0.15);
$pagination-current-border-color: transparent;
$pagination-current-color: $butts_text;
$pagination-border-color: transparent;
$pagination-hover-border-color: transparent;

$content-blockquote-border-left: 4px solid $butts_purple;
$content-blockquote-background-color: rgba($butts_purple, 0.06);

$custom-colors: (
        "tertiary": ($butts_text_tertiary, $butts_text_tertiary_inv),
        "primary-alt": ($butts_purple_alt, findColorInvert($butts_purple)),
        "primary-desat": (desaturate($butts_purple, 50%), findColorInvert(desaturate($butts_purple, 50%)))
);
