{% extends 'base.html' %}

{% block body_class %}template-err-page{% endblock %}

{% block title %}Permission Denied | B.U.T.T.S. League{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="error-container">
        <h1 class="is-err title">403</h1>
        <p class="has-text-weight-bold is-size-5 has-text-centered">Permission denied</p>
        <p class="has-text-secondary is-italic has-text-centered">I'm afraid I can't let you do that, Dave.</p>
      </div>
    </div>
  </section>
{% endblock %}