{% extends 'base.html' %}

{% block body_class %}template-err-page{% endblock %}

{% block title %}Not Found | TOUCAN League{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="error-container">
        <h1 class="is-err title">404</h1>
        <p class="has-text-weight-bold is-size-5 has-text-centered">File not found</p>
        <p class="has-text-secondary is-italic has-text-centered">I thought I left it around here somewhere...</p>
      </div>
    </div>
  </section>
{% endblock %}