{% load static compress wagtailuserbar base_tags wagtailcore_tags %}

<html>
<head {% block ogp_prefix %}{% endblock %}>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% endif %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#5B27FF"/>

  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  </title>

  {# IE10 Tile #}
  <meta name="msapplication-TileColor" content="#E53935">
  <meta name="msapplication-TileImage" content="{% static 'favicon-144.png' %}"

  {# IE11 Tile #}
  <meta name="application-name" content="UWAC Website">
  <meta name="msapplication-tooltip" content="The University of Warwick Archery Club website">
  <meta name="msapplication-config" content="{% static 'ieconfig.xml' %}">

  {# Apple touch icons #}
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% static 'favicon-180.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'favicon-152.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'favicon-120.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'favicon-76.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'favicon-57.png' %}">

  {# Favicons #}
  <link rel="icon" sizes="16x16 24x24 32x32 64x64" href="{% static 'favicon.ico' %}">
  <link rel="icon" sizes="228x228" href="{% static 'favicon-228.png' %}">
  <link rel="icon" sizes="128x128" href="{% static 'favicon-128.png' %}">
  <link rel="icon" sizes="96x96" href="{% static 'favicon-96.png' %}">
  <link rel="icon" sizes="32x32" href="{% static 'favicon-32.png' %}">
  <link rel="shortcut icon" sizes="196x196" href="{% static 'favicon-chrome-196.png' %}">
  <link rel="mask-icon" href="{% static 'icon.svg' %}" color="#5B27FF">

  <link rel="canonical" href="https://buttsleague.com{% pageurl self %}">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  {% compress css %}
    <link href="{% static 'scss/app.scss' %}" rel="stylesheet" type="text/x-scss"/>
  {% endcompress %}

  {% block ogp_metadata %}
    {# OpenGraph data goes here #}
  {% endblock %}

  {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
<div class="site-wrapper">
  <div class="site-content">
    {% block navigation %}
      {% navigation calling_page=page %}
    {% endblock %}
    {% block content %}{% endblock %}
  </div>

  {% footer %}
</div>

<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
{% block extra_js %}{% endblock %}
</body>
</html>
