@import "sass/utilities/mixins";

.title {
  font-family: $family-title;
  text-transform: uppercase;

  color: $butts_text;
}

a {
  transition: color 0.15s ease-in-out;
}

.site-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;

  & .site-content {
    flex: 1;
  }
}

.navbar-brand .navbar-item {
  @include touch {
    padding: .5rem 1.5rem;
  }
}

.navbar-item {
  font-family: $family-title;
  text-transform: uppercase;
}

.navbar-end .navbar-item {
  padding-left: 24px;
  padding-right: 24px;

  &.is-active {
    color: $butts_purple;
  }
}

.footer {
  color: rgba(255, 255, 255, 0.87);

  &.footer.footer {
    padding-bottom: 3rem;
  }

  & .social-media {
    & h4 {
      color: $butts-text_tertiary_inv;

      margin-bottom: 1rem;
    }

    & .social-icons li {
      line-height: 1;
      font-size: 32px;

      float: left;

      &:not(last-of-type) {
        margin-right: 1rem;
      }
    }
  }

  & strong {
    color: $butts_text_secondary_inv;
  }

  & .sitemap {
    margin-bottom: 3rem;
  }

  & a {
    color: $butts_text_secondary_inv;

    &:hover {
      color: white;
    }
  }

  & .sitemap-entry {
    &:not(:first-of-type) {
      margin-top: 4px;
    }

    &.more-news {
      font-size: 12px;

      & a {
        color: $butts-text_tertiary_inv;
      }

      & .fas {
        margin-left: 0px;

        transition: margin-left 0.2s ease-out;
      }

      &:hover,
      &:focus {
        & .fas {
          margin-left: 2px;
        }

        & a {
          color: $butts_text_secondary_inv;
        }
      }
    }

    &.title {
      margin-bottom: 0;

      &:not(:first-of-type) {
        margin-top: 1rem;
      }

      & a {
        color: $butts-text_tertiary_inv;

        font-size: 2rem;

        &:hover, &:focus {
          color: $butts_text_secondary_inv;
        }
      }
    }
  }
}

.league-hero {
  margin-bottom: -12rem;

  background-image: url('/static/img/hero_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include touch {
    margin-bottom: 3rem;
  }

  & .league-info {
    display: flex;
    z-index: 2;

    @include touch {
      padding: 0 1.5rem;
    }

    & .league-blurb {
      margin-top: 112px;

      & h1.title {
        margin-bottom: 0;
        line-height: 1;
        color: $butts_text;
      }

      & hr {
        background-color: $butts_purple;
        height: $picture_highlight_border;
        width: 150px;
        border-radius: 1px;

        margin: 10px 0 26px;
      }
    }
  }
}

.league-tables {
  color: white;

  background-image: linear-gradient(96deg, $butts_purple, $butts_purple_alt);
  transform: skewY(-6deg);

  &.league-tables.league-tables {
    padding-bottom: 6.5rem;
  }

  & .tile.is-ancestor {
    & .is-parent:first-child {
      padding-right: 10px;
    }

    & .is-parent:last-child {
      padding-left: 10px;
    }
  }

  & > .container {
    transform: skewY(6deg);

    padding-top: 50px;
  }

  & .title {
    color: white;
  }

  & .table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;

    background-color: transparent;

    &.is-striped tbody tr:not(.is-selected):nth-child(2n) {
      background-color: transparent;

      & td {
        background-color: rgba(0, 0, 0, 0.1);
      }

      & td:first-child {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }

      & td:last-child {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }

    & td,
    & th {
      padding: 13px 10px;
      color: white;

      border: 0 solid transparent;
    }

    & .pos {
      padding-left: 0;
    }

    & .uni {
      width: 43%;
    }

    & .hits {
      width: 12%;
    }

    & .tens {
      padding-right: 30px;
    }
  }
}

.template-homepage .league-news {
  @include touch {
    margin-top: 6.5rem;
  }

  @include mobile {
    margin-top: 5rem;
  }

  margin-top: 8rem;
}

.league-news {
  & .older-news {
    margin-top: 20px;

    & .fas {
      margin-left: 5px;
    }

    & .button.is-white {
      transition: background-color 0.1s ease-in-out;

      color: $butts_text_secondary;

      & .fas {
        color: $butts_text_tertiary;
      }

      &:hover {
        background-color: rgba($butts_purple, 0.075);
        color: $butts_text;

        & .fas {
          color: $butts_text;
        }
      }

      &:focus {
        background-color: rgba($butts_purple, 0.15);
        color: $butts_text;

        & .fas {
          color: $butts_text;
        }
      }
    }
  }

  & .article {
    & hr {
      margin-bottom: 36px;
    }

    & .article-cover {
      border-radius: $radius;

      margin-bottom: 10px;
    }

    & .article-cover-link {
      line-height: 0;
    }

    & .article-link .title {
      color: $link;
      line-height: 1.5;

      transition: color 0.15s ease-in-out;

      &:hover {
        color: $link-hover;
      }
    }

    & .article-info {
      color: $butts_text_secondary;

      margin-bottom: 16px;

      & .fa {
        color: $butts_text_tertiary;
      }
    }
  }
}

.table {
  & .is-numeric {
    text-align: right;
  }

  & .is-text {
    text-align: left;
  }
}

// Pagination
.template-newsindex {
  & .pagination {
    margin-top: 1rem;

    & .pagination-previous,
    & .pagination-next,
    & .pagination-link:not(.is-current) {
      transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background-color: rgba($butts_purple, 0.075);
      }

      &:active {
        box-shadow: none;

        background-color: rgba($butts_purple, 0.15);
      }
    }
  }
}

.empty-icon {
  color: $butts_text_tertiary;
  margin-right: 0.5rem;
  padding: 2rem 0;
}

.is-secondary {
  color: $butts_text_secondary;
}

.template-newspage {
  .cover-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jumbotron-mask {
    width: 100%;
    height: 100px;
    fill: white;
  }

  .title-link {
    color: transparent;

    transition: color 0.075s ease-in-out;

    &:hover,
    &:focus {
      color: $grey-light;
    }

    &:active {
      color: $grey;
    }
  }
}

