@import "sass/utilities/mixins";

.title {
  font-family: $family-title;
  text-transform: uppercase;

  color: $butts_text;
}

a {
  transition: color 0.15s ease-in-out;
}

.site-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;

  background-color: $butts-background;

  & .site-content {
    flex: 1;

    background-color: $butts-background;
  }
}

@include touch {
  .navbar-menu.navbar-menu.navbar-menu {
    background-color: $white;
  }
}

.navbar-brand .navbar-item {
  @include touch {
    padding: .5rem 1.5rem;
  }
}

.navbar-item {
  font-family: $family-title;
  text-transform: uppercase;
}

.navbar-end .navbar-item {
  padding-left: 24px;
  padding-right: 24px;

  &.is-active {
    color: $butts_purple;
  }
}

.footer {
  color: rgba(255, 255, 255, 0.87);

  &.footer.footer {
    padding-bottom: 3rem;
  }

  & .social-media {
    margin-bottom: 2.5rem;

    &:first-child {
      clear: both;
    }

    & h4 {
      color: $butts-text_tertiary_inv;

      margin-bottom: 1rem;
    }

    & .social-icons li {
      line-height: 1;
      font-size: 32px;

      float: left;

      &:not(last-of-type) {
        margin-right: 1rem;
      }
    }
  }

  & strong {
    color: $butts_text_secondary_inv;
  }

  & .sitemap {
    margin-bottom: 3rem;
  }

  & a {
    color: $butts_text_secondary_inv;

    &:hover {
      color: white;
    }
  }

  & .sitemap-entry {
    &:not(:first-of-type) {
      margin-top: 4px;
    }

    &.more-news {
      font-size: 12px;

      & a {
        color: $butts-text_tertiary_inv;
      }

      & .fas {
        margin-left: 0px;

        transition: margin-left 0.2s ease-out;
      }

      &:hover,
      &:focus {
        & .fas {
          margin-left: 2px;
        }

        & a {
          color: $butts_text_secondary_inv;
        }
      }
    }

    &.title {
      margin-bottom: 0;

      &:not(:first-of-type) {
        margin-top: 1rem;
      }

      & a {
        color: $butts-text_tertiary_inv;

        font-size: 2rem;

        &:hover, &:focus {
          color: $butts_text_secondary_inv;
        }
      }
    }
  }
}

.league-hero {
  margin-bottom: -4rem;

  background-image: url('/static/img/hero_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include desktop {
    margin-bottom: -10rem;
  }

  @include widescreen {
    margin-bottom: -12rem;
  }

  & .league-info {
    display: flex;
    z-index: 2;

    @include touch {
      padding: 0 1.5rem 7.5rem;
    }

    & .league-blurb {
      margin-top: 112px;

      & h1.title {
        margin-bottom: 0;
        line-height: 1;
        color: $butts_text;
      }

      & hr {
        background-color: $butts_purple;
        height: $picture_highlight_border;
        width: 150px;
        border-radius: 1px;

        margin: 10px 0 26px;
      }
    }
  }
}

.league-tables {
  color: white;

  background-image: linear-gradient(96deg, $butts_purple, $butts_purple_alt);
  transform: skewY(-6deg);

  &.league-tables.league-tables {
    padding-bottom: 6.5rem;
  }

  & .tile.is-ancestor {
    & .is-parent:first-child {
      padding-right: 10px;
    }

    & .is-parent:last-child {
      padding-left: 10px;
    }
  }

  & > .container {
    transform: skewY(6deg);

    padding-top: 50px;
  }

  & .title {
    color: white;
  }

  & .table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;

    background-color: transparent;

    &.is-striped tbody tr:not(.is-selected):nth-child(2n) {
      background-color: transparent;

      & td {
        background-color: rgba(0, 0, 0, 0.1);
      }

      & td:first-child {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }

      & td:last-child {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }

    & td,
    & th {
      padding: 13px 10px;
      color: white;

      border: 0 solid transparent;
    }

    & .pos {
      padding-left: 0;
    }

    & .uni {
      width: 33%;

      @include tablet {
        width: 39%;
      }

      @include widescreen {
        width: 49%;
      }
    }

    & .hits {
      width: 20%;

      @include tablet {
        width: 16%;
      }

      @include desktop {
        width: 15%;
      }

      @include widescreen {
        width: 13%;
      }
    }

    & .tens {
      padding-right: 15px;

      @include tablet {
        padding-right: 20px;
      }

      @include desktop {
        padding-right: 30px;
      }
    }
  }
}

.template-homepage .league-news {
  @include touch {
    margin-top: 6.5rem;
  }

  @include mobile {
    margin-top: 5rem;
  }

  margin-top: 8rem;
}

.league-news, .league-standings {
  & .button.is-white {
    transition: background-color 0.1s ease-in-out;

    background-color: $butts-background;
    color: $butts_text_secondary;

    & .fas {
      color: $butts_text_tertiary;
      margin-left: 5px;
    }

    &:hover {
      background-color: rgba($butts_purple, 0.075);
      color: $butts_text;

      & .fas {
        color: $butts_text;
      }
    }

    &:focus {
      background-color: rgba($butts_purple, 0.15);
      color: $butts_text;

      & .fas {
        color: $butts_text;
      }
    }
  }
}

.league-news {
  & .older-news {
    margin-top: 20px;
  }

  & .article {
    & hr {
      margin-bottom: 36px;
    }

    & .article-cover {
      border-radius: $radius;

      margin-bottom: 10px;
    }

    & .article-cover-link {
      line-height: 0;
    }

    & .article-link .title {
      color: $link;
      line-height: 1.5;

      transition: color 0.15s ease-in-out;

      &:hover {
        color: $link-hover;
      }
    }

    & .article-info {
      color: $butts_text_secondary;

      margin-bottom: 16px;

      & .fa {
        color: $butts_text_tertiary;
      }
    }
  }
}

.table {
  & .is-numeric {
    text-align: right;
  }

  & .is-text {
    text-align: left;
  }
}

// Pagination
.template-newsindex {
  & .pagination {
    margin-top: 1rem;

    & .pagination-previous,
    & .pagination-next,
    & .pagination-link:not(.is-current) {
      transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background-color: rgba($butts_purple, 0.075);
      }

      &:active {
        box-shadow: none;

        background-color: rgba($butts_purple, 0.15);
      }
    }
  }
}

.empty-icon {
  color: $butts_text_tertiary;
  margin-right: 0.5rem;
  padding: 2rem 0;
}

.league-start {
  padding-top: .25em;
  padding-bottom: .25em;
}

.is-secondary {
  color: $butts_text_secondary;
}

.template-newspage {
  .cover-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jumbotron-mask {
    width: 100%;
    height: 100px;
    fill: $butts-background;
  }

  .hero.is-large {
    .hero-body {

      padding-top: 11rem;
      padding-bottom: 11rem;

      & .title {
        font-size: 5rem;
      }

      & .title,
      & .subtitle {
        text-shadow: rgba(0, 0, 0, 0.26) 0 2px 6px;
      }
    }

    &.inverted {
      & .title {
        color: rgba(white, 0.9);
      }

      & .subtitle {
        color: rgba(white, 0.8);
      }
    }

    &.no-cover {
      background-image: linear-gradient(96deg, $butts_purple, $butts_purple_alt);

      & .title,
      & .subtitle {
        text-shadow: none;
      }
    }
  }
}

.title-link {
  color: transparent;

  transition: color 0.075s ease-in-out;

  &:hover,
  &:focus {
    color: $grey-light;
  }

  &:active {
    color: $grey;
  }
}

.further-reading {
  background-color: white;
  border-radius: $radius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13), 0 4px 8px rgba(0, 0, 0, 0.06);

  &.no-cover {
    border-top: 2px solid $butts-purple;
  }

  .cover-image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  & .tile-content {
    padding: 1rem;

    & .title {
      margin-bottom: 0;

      & a {
        display: block;
      }
    }

    & .article-info {
      margin-bottom: .5rem;
      font-size: 14px;

      color: $butts_text_secondary;

      & .fas {
        color: $butts_text_tertiary;
      }
    }
  }
}

.last-level {
  margin-top: 48px;
}

.tags-list li a {
  display: block;
  padding: 0.5rem;

  background-color: transparent;

  transition: background-color ease-in-out 0.1s, color ease-in-out 0.1s;

  border-radius: $radius/2;

  &:hover,
  &:focus {
    color: darken($butts_purple, 5%);
    background-color: rgba($black, 0.04);
  }
}

.archive-list {
  & p:not(first-of-type) {
    margin-top: 1.5rem;
  }

  & hr.year-divider {
    display: inline-block;

    width: 30px;
    height: 3px;

    border-radius: $radius/4;
    background-color: #5B27FF;

    margin: 2px 0 8px;
  }

  & ul.archive-sublist li a {
    display: block;
    padding: 0.35rem 0.5rem;
    border-radius: $radius/2;

    transition: background-color ease-in-out 0.1s, color ease-in-out 0.1s;

    &:hover,
    &:focus {
      color: darken($butts_purple, 5%);
      background-color: rgba($black, 0.04);
    }
  }
}

article.content {
  & .streamfield-block {
    margin-bottom: 1.5rem;

    & .title {
      padding-top: 1.5rem;
    }

    & .table {
      background-color: transparent;

      &.is-hoverable tbody tr:not(.is-selected) {
        background-color: transparent;

        transition: background-color 0.075s ease-in-out;

        &:hover {
          background-color: rgba($butts_purple, 0.06);
        }
      }
    }
  }
}

.content blockquote {
  border-radius: $radius/2;

  & p.quote.quote {
    margin-bottom: .4rem;

    font-size: 1.5rem;
  }

  & cite {
    color: $butts_text_secondary;
  }
}

.document-wrapper a {
  padding: 0.5rem .75rem;

  background-color: $link;
  color: $white;

  display: inline-block;

  border-radius: $radius;

  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: $link-hover;
    color: $white;
  }

  &::before {
    display: inline-block;

    margin-right: .5rem;

    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f019';
  }
}

.blog-image {
  position: relative;

  & img {
    border-radius: $radius/2;
  }

  & figcaption {
    background: rgba($black, 0.4);
    color: $white;

    text-align: left;

    position: absolute;
    bottom: 0;
    width: 100%;

    padding: .5rem .75rem;

    border-bottom-left-radius: $radius/2;
    border-bottom-right-radius: $radius/2;

    & p.caption.caption {
      margin-bottom: .3rem;
    }

    & .credit {
      font-size: .75rem;
    }
  }
}

.table-wrapper {
  overflow-x: auto;

  padding-bottom: 16px;
  margin-bottom: 2rem;

  &.no-padding {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.league-results.league-results.league-results {
  width: 100%;
  background-color: transparent;

  & th {
    border: none;
  }

  & > thead {
    margin-bottom: 20px;
  }

  &.is-hoverable > tbody > tr {
    transition: background-color 0.1s ease-in-out;

    background-color: transparent;

    &:hover {
      background-color: rgba($butts_purple, 0.04);
    }
  }


  & th,
  & td {
    padding: .5rem 10px;

    &.leg-divider {
      padding-left: 30px;
    }
  }
}

.results-list li a {
  display: block;
  padding: 0.5rem;

  background-color: transparent;

  transition: background-color ease-in-out 0.1s, color ease-in-out 0.1s;

  border-radius: $radius/2;

  &:hover,
  &:focus {
    color: darken($butts_purple, 5%);
    background-color: rgba($black, 0.04);
  }
}

.resource-sublist li a {
  display: block;
  padding: 0.5rem;

  background-color: transparent;

  transition: background-color ease-in-out 0.1s, color ease-in-out 0.1s;

  border-radius: $radius/2;

  &:hover,
  &:focus {
    color: darken($butts_purple, 5%);
    background-color: rgba($black, 0.04);
  }
}

.attending-list {
  font-size: .9rem;
}

table {
  font-variant-numeric: tabular-nums;

  -webkit-font-feature-settings: "tnum" 1;
  -moz-font-feature-settings: "tnum" 1;
  -o-font-feature-settings: "tnum" 1;
  font-feature-settings: "tnum" 1;
}

.error-container {
  & .is-err {
    font-size: 11rem;
    text-align: center;

    @include tablet {
      font-size: 16rem;
    }

    &.title.title.title {
      margin-bottom: 0;
    }

    background-image: linear-gradient(6deg, $butts_purple, $butts_purple_alt);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.has-text-secondary {
  color: $butts_text_secondary;
}

.has-text-tertiary {
  color: $butts_text_tertiary;
}

nav.breadcrumb {
  @include touch {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
