<footer class="footer">
  <div class="container">
    <div class="sitemap">
      <div class="columns">
        <div class="column is-3 social-media">
          <h4 class="title is-4">Social Media</h4>
          <ul class="social-icons">
            <li><a href="#" title="Facebook"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fab fa-twitter-square"></i></a></li>
          </ul>
        </div>
        <div class="column is-3">
          <p class="sitemap-entry title"><a href="#">Home</a></p>
          <p class="sitemap-entry title"><a href="#">Standings</a></p>
          <p class="sitemap-entry"><a href="#">Previous Results</a></p>
          <p class="sitemap-entry title"><a href="#">Schedule</a></p>
        </div>
        <div class="column is-3">
          <p class="sitemap-entry title"><a href="#">News</a></p>
          <p class="sitemap-entry"><a href="#">B.U.T.T.S. Leg 1 Recap</a></p>
          <p class="sitemap-entry more-news"><a href="#">Older news articles <i class="fas fa-chevron-right"></i></a></p>
          <p class="sitemap-entry title"><a href="#">League</a></p>
          <p class="sitemap-entry"><a href="#">League History</a></p>
          <p class="sitemap-entry"><a href="#">Rules</a></p>
          <p class="sitemap-entry"><a href="#">The Boat Race</a></p>
        </div>
        <div class="column is-3">
          <p class="sitemap-entry title"><a href="#">Records</a></p>
          <p class="sitemap-entry"><a href="#">Hall of Fame</a></p>
          <p class="sitemap-entry title"><a href="#">Resources</a></p>
          <p class="sitemap-entry"><a href="#">Archer Etiquette</a></p>
          <p class="sitemap-entry"><a href="#">B.U.T.T.S. Badges</a></p>
          <p class="sitemap-entry"><a href="#">Organising a Leg</a></p>
          <p class="sitemap-entry"><a href="#">Ultimate Archer</a></p>
        </div>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        <strong>© B.U.T.T.S. League {% now 'Y' %}</strong>. Website built by <a href="https://github.com/davidjrichardson">David
        Richardson</a> using <a href="https://wagtail.io">Wagtail</a>.
      </p>
    </div>
  </div>
</footer>