<article class="article">
  <a class="article-cover-link" href="#">
    <img class="article-cover" src="https://picsum.photos/760/250">
  </a>
  <a class="article-link" href="#">
    <h3 class="title is-size-3">Lorem ipsum dolor</h3>
  </a>
  <p class="article-info"><i class="fas fa-clock"></i> 06/11/2018 by David Richardson</p>
  <p class="article-blurb"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non turpis
    imperdiet, luctus nisi eget, maximus ante. Donec rutrum nisi ac dictum rutrum. Donec feugiat, libero a
    cursus sodales, mauris magna sodales diam, eu sollicitudin elit velit sit amet risus. Fusce consectetur,
    leo sed aliquet tincidunt, felis tortor suscipit diam, ac fringilla lectus leo ac nunc.</p>
  {# TODO: Check if the HR should be displayed #}
  <hr/>
</article>