{% load table_tags %}

<div class="tabs">
  <ul>
    {% for round in rounds %}
      <li id="{{ round.round_name|slugify }}-tab" class="tab {% if forloop.counter == 1 %}is-active{% endif %}">
        <a href="#{{ round.round_name|slugify }}" data-target="{{ round.round_name|slugify }}">{{ round.round_name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% for round in rounds %}
  <div id="{{ round.round_name|slugify }}-info" class="badges-info {% if forloop.counter == 1 %}is-active{% endif %}">
    <div class="content">
      <h5 class="title is-size-5">Scores for a {{ round.round_name }}</h5>
      <p>Each row is a bow style and the columns correspond to the score for that badge.</p>
      <p>Outdoor rounds follow classification boundaries (gold badge is MB, red is BM, etc.). A dash means you cannot claim a badge for that bowstyle.</p>
    </div>
    <div class="table-wrapper">
      <table class="table is-fullwidth is-hoverable score-table">
        <thead>
        <tr>
          <th class="is-text">Bowstyle</th>
          <th class="is-numeric">White</th>
          <th class="is-numeric is-black">Black</th>
          <th class="is-numeric is-blue">Blue</th>
          <th class="is-numeric is-red">Red</th>
          <th class="is-numeric is-gold">Gold</th>
        </tr>
        </thead>
        <tbody>
        {% for bowstyle, scores in round.table_order %}
          <tr>
            <td class="is-text">{{ bowstyle }}</td>
            <td class="is-numeric">{{ scores.0|dashify }}</td>
            <td class="is-numeric is-black">{{ scores.1|dashify }}</td>
            <td class="is-numeric is-blue">{{ scores.2|dashify }}</td>
            <td class="is-numeric is-red">{{ scores.3|dashify }}</td>
            <td class="is-numeric is-gold">{{ scores.4|dashify }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endfor %}